body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

h1 {
	padding-bottom: 24px;
	font-weight: 600;
}

.lined {
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
/*
	employer block
*/
.container_wrapper {
	width: 800px;
	margin: auto;
	padding-top: 200px;
}

.employers {
	padding-bottom: 24px;
}

.button {
	display: inline;
	background-color: #8A2A2B;
	margin-right: 24px;
	padding: 12px;
	color: white;
	border-radius: 6px;
}
.button:hover {
	background-color: #4e1819;
	cursor: pointer;
}

.button_active {
	background-color: #3b1213;
}

.deleteEmployer {
	box-shadow: rgba(0,0,0,0.4) 2px 2px;
	height: 24px;
	width: 24px;
	position: absolute;
	margin-top: -12px;
	background: black;
}

.employer_card {
	background-color: #ECE7E7;
	padding: 24px;
}

#editEmployer {
	float: right;
}

.field {
	padding-bottom: 12px;
}