/*
	##### STAFF ######
*/

.staff_list {
	padding: 0 0 24px 0;
}

.staff_card {
	background-color: #ECE7E7;
	padding: 24px;
}

.card-hidden {
	display: none;
}

.card-active {
	display: block;
}

.edit {
	float: right;
}

.field {
	padding: 0 0 12px;
}
